<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h3>Nathan's page</h3>
    <p>
     HELLO WORLD!
     </p>
    <p>
      This is my personalized greeting on my branch.
      Hello from Charlie
    </p>
    <p> 
      Here is a message added from Riley
    </p>
    <p>
      This will fulfill tech exercise 3, by taking user input, modifying it, and producing an output.Bobbi Was Here
    </p>
    <form action="/" method="post">
      <input type="text" value="Welcome!" name="number"/>
      <textarea rows="1" cols="1" >
        {{ number }}
      </textarea>
      <button type="submit">Don't press</button>
    </form>
    <script src="script.js"></script>
  </body>
</html>