<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h3>Michelle's </h3>
    
	<p>
      Hello world!
    </p>
    <form action="/" method="post">
      <input type="text" value="Enter a number" name="number"/>
      <textarea rows="10" cols="30" >
        {{ number }}
      </textarea>
      <button type="submit">Change</button>
    </form>
    <script src="script.js"></script>
  </body>
</html>